<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/App.css"></link>
    <title>Clash Community</title>
  </head>
  <body>
    <h1>Clash</h1>
    <div id="root"></div>
</body>
  <script src="bundle.js"></script>
</html>